* { margin: 0; padding: 0; box-sizing: border-box; overflow: hidden; }

:root {
  --white: #FFFFFF;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #29292E;
  --gray-800: #232323;
  --gray-900: #121214;

  --cyan-500: #39e1e5;
  --cyan-900: #00797c;
  --yellow-500: #EBA417;
}

@media (max-width: 1080px) {
  html { font-size: 93.75%; }
}

@media (max-width: 750px) {
  html { font-size: 87.5%; }
}

body {
  background:  var(--gray-900);
  color:  var(--white);
}

body, input, textarea, select, button { font: 400 1rem "Montserrat", sans-serif; }

button { cursor: pointer; }

a { color: inherit; text-decoration: none; }